# Feeder 3.1

Importing Numpy and Pandas.

In [44]:
import numpy as np
import pandas as pd

Building the dataframe.

In [45]:
df = pd.read_csv("Statewide_Greenhouse_Gas_Emissions__Beginning_1990.csv")

Reading the raw data file.

In [46]:
df

,Gross,Net,Conventional Accounting,Economic Sector,Sector,Category,Sub-Category 1,Sub-Category 2,Sub-Category 3,Year,Gas,MT CO2e AR5 20 yr,MT CO2e AR4 100 yr
0,Yes,Yes,Yes,Industry,Energy,Other Fossil Fuel Use,Industrial,Not Applicable,Natural Gas,1990,CH4,0,0
1,No,Yes,Yes,Net Emissions,AFOLU,Net Emission Removals,Land Use,Forest,Forests Remaining Forests,1990,CO2,-27910000,-27910000
2,No,Yes,Yes,Net Emissions,AFOLU,Net Emission Removals,Land Use,Forest,Forests Remaining Forests,1991,CO2,-27810000,-27810000
3,No,Yes,Yes,Net Emissions,AFOLU,Net Emission Removals,Land Use,Forest,Forests Remaining Forests,1992,CO2,-27700000,-27700000
4,No,Yes,Yes,Net Emissions,AFOLU,Net Emission Removals,Land Use,Forest,Forests Remaining Forests,1993,CO2,-27570000,-27570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14157,Yes,Yes,Yes,Transportation,Energy,Fuel Combustion,Transportation,Road,Gasoline,2000,CO2,54812890,54812890
14158,Yes,Yes,Yes,Transportation,Energy,Fuel Combustion,Transportation,Road,Gasoline,2006,CO2,55402963,55402963
14159,Yes,Yes,Yes,Transportation,Energy,Fuel Combustion,Transportation,Road,Gasoline,2001,CO2,55430691,55430691
14160,Yes,Yes,Yes,Transportation,Energy,Fuel Combustion,Transportation,Road,Gasoline,2005,CO2,55482210,55482210
14161,Yes,Yes,Yes,Transportation,Energy,Fuel Combustion,Transportation,Road,Gasoline,2002,CO2,55734805,55734805

In the below code, I filter out the dataframe to contain only rows which are in the transportation industry of the economic sector. I named this new dataframe "new".

In [47]:
e_sector = ["Transportation"]
new = df[df["Economic Sector"].isin(e_sector)]

This script below further filters out the data by finding the colunns worthy of further analysis in my project. It works by initializing a significant columns array, "sig_cols", then iterates through each column, checking to see if the dataframe contains very few values or very many values for that variable. In this script, I chose that the column must have at least 2 different values occur or no more than five. The lower bound is because some columns had the same value for each row in the entire dataframe, so I wanted to remove these columns since they did not offer much new information across this data set. I also restricted the upperbound to 5 so that anaylsis could be conducted across categorical variables with out having too many values to dilute the data set.

In [48]:


sig_cols = []
for col in new.columns:
    vals = {}
    for i in range(len(new)):
        val = new.iloc[i][col]
        if val in vals:
            vals[val] += 1
        else:
            vals[val] = 1
    if 2 <= len(vals) <= 5:
        sig_cols.append(col)
    
print(sig_cols)

['Net', 'Conventional Accounting', 'Sector', 'Category', 'Sub-Category 1', 'Gas']

The final dataframe established in this program is "finished", which is the "new" dataframe restricted to the significant columns.

In [49]:
finished = new[sig_cols]

The new dataframe is saved to a csv file.

In [50]:
finished.to_csv("refined.csv")